
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">Forms: Registration Form</h1>

    <div>
        <ul class="nav nav-tabs">
            <li role="presentation"><a href="forms.view.html">Forms</a></li>
            <li role="presentation" class="active"><a href="fields.view.html">Fields</a></li>
        </ul>
    </div>
    <div>
        <form class="pad-top" role="form">
            <div class="row vertical-align">
                <div class="col-sm-8 col-xs-12 form-group">
                    <label for="firstName">First Name:</label>
                    <input type="text" class="form-control" id="firstName" placeholder="First Name"/>
                </div>
                <div class="col-sm-4 col-xs-12 icons-right">
                    <span class="glyphicon glyph-btn glyphicon-pencil glyphicon-lg"></span>
                    <span class="glyphicon glyph-btn glyphicon-plus glyphicon-lg"></span>
                    <span class="glyphicon glyph-btn glyphicon-remove glyphicon-lg"></span>
                    <span class="glyphicon glyph-btn glyphicon-menu-hamburger glyphicon-lg"></span>
                </div>
            </div>
            <div class="row vertical-align">
                <div class="col-sm-8">
                    <label for="lastName">Last Name:</label>
                    <input type="text" class="form-control" id="lastName" placeholder="Last Name"/>
                </div>
                <div class="col-sm-4 icons-right">
                    <span class="glyphicon glyph-btn glyphicon-pencil glyphicon-lg"></span>
                    <span class="glyphicon glyph-btn glyphicon-plus glyphicon-lg"></span>
                    <span class="glyphicon glyph-btn glyphicon-remove glyphicon-lg"></span>
                    <span class="glyphicon glyph-btn glyphicon-menu-hamburger glyphicon-lg"></span>
                </div>
            </div>
            <div class="row vertical-align">
                <div class="col-sm-8 form-group">
                    <label>Date of Birth:</label>
                    <div class="input-group date" id="datetimepicker1">
                        <input type='text' class="form-control" placeholder="Select Date"/>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="col-sm-4 icons-right">
                    <span class="glyphicon glyph-btn glyphicon-pencil glyphicon-lg"></span>
                    <span class="glyphicon glyph-btn glyphicon-plus glyphicon-lg"></span>
                    <span class="glyphicon glyph-btn glyphicon-remove glyphicon-lg"></span>
                    <span class="glyphicon glyph-btn glyphicon-menu-hamburger glyphicon-lg"></span>
                </div>
            </div>
            <div class="row vertical-align">
                <div class="col-sm-8 form-group">
                    <label>Gender:</label>
                    <div class="dropdown">
                        <button class="btn btn-default btn-block dropdown-toggle" type="button" data-toggle="dropdown">Male
                            <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="#">Male</a></li>
                            <li><a href="#">Female</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4 icons-right">
                    <span class="glyphicon glyph-btn glyphicon-pencil glyphicon-lg"></span>
                    <span class="glyphicon glyph-btn glyphicon-plus glyphicon-lg"></span>
                    <span class="glyphicon glyph-btn glyphicon-remove glyphicon-lg"></span>
                    <span class="glyphicon glyph-btn glyphicon-menu-hamburger glyphicon-lg"></span>
                </div>
            </div>
            <div class="row vertical-align-xs">
                <div class="col-xs-6 form-group">
                    <label class="remove-spacing">Roles:</label>
                    <div class="checkbox">
                        <label><input type="checkbox" value="ADMIN">Admin</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="STUDENT">Student</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="USER">User</label>
                    </div>
                </div>
                <div class="col-xs-6 icons-right">
                    <span class="glyphicon glyph-btn glyphicon-pencil glyphicon-lg"></span>
                    <span class="glyphicon glyph-btn glyphicon-plus glyphicon-lg"></span>
                    <span class="glyphicon glyph-btn glyphicon-remove glyphicon-lg"></span>
                    <span class="glyphicon glyph-btn glyphicon-menu-hamburger glyphicon-lg"></span>
                </div>
            </div>
            <div class="row vertical-align-xs">
                <div class="col-xs-6 form-group">
                    <label class="remove-spacing">License Agreement:</label>
                    <div class="radio">
                        <label><input type="radio" name="optradio" id="OptionsRadioYes" value="YES">Yes</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" name="optradio" id="OptionsRadioNo" value="NO">No</label>
                    </div>
                </div>
                <div class="col-xs-6 icons-right">
                    <span class="glyphicon glyph-btn glyphicon-pencil glyphicon-lg"></span>
                    <span class="glyphicon glyph-btn glyphicon-plus glyphicon-lg"></span>
                    <span class="glyphicon glyph-btn glyphicon-remove glyphicon-lg"></span>
                    <span class="glyphicon glyph-btn glyphicon-menu-hamburger glyphicon-lg"></span>
                </div>
            </div>
            <hr>
            <div class="row vertical-align">
                <div class="col-sm-8 form-group">
                    <label>Add New Field:</label>
                    <div class="dropdown">
                        <button class="btn btn-default btn-block dropdown-toggle" type="button" data-toggle="dropdown">Single Line Text
                            <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="#">Single Line Text</a></li>
                            <li><a href="#">Date</a></li>
                            <li><a href="#">Dropdown</a></li>
                            <li><a href="#">Checkboxes</a></li>
                            <li><a href="#">Radio Buttons</a></li>
                            <li><a href="#">Paragraph Text Field</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4 icons-right">
                    <span class="glyphicon glyph-btn glyphicon-plus glyphicon-lg"></span>
                </div>
            </div>
        </form>
    </div>
</div>
