<div class="footer">
     <div class="footer-bottom">
        <div class="wrap">
            <div class="copy">
                <p>2016 Cheap Eats</p>
            </div>
            <div class="f-list2">
                <ul>
                    <li class="active"><a href="/">About Me</a></li> |
                    <li><a href="#">Delivery & Returns</a></li> |
                    <li><a href="#">Terms & Conditions</a></li> |
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>