
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">Login</h1>

    <div>
        <form class="form-horizontal">
            <div class="form-group">
                <label for="inputUName" class="col-sm-2 control-label">Username:</label>
                <div class="col-sm-10">
                    <input ng-model="inputUName" type="text" class="form-control" id="inputUName" placeholder="Username">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPwd" class="col-sm-2 control-label">Password:</label>
                <div class="col-sm-10">
                    <input ng-model="inputPwd" type="password" class="form-control" id="inputPwd" placeholder="Password">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <a ng-click="login()" class="btn btn-primary" type="submit" role="button">Login</a>
                    <span class="text-danger">{{errorMessage}}</span>
                </div>
            </div>
        </form>
    </div>
</div>


