
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">Admin</h1>

    <h2 class="page-header">Users</h2>
    <div>
        <table class="table table-striped table-bordered">
            {{model.error}}
            <thead>
                <tr>
                    <th ng-click="model.sortByUsername(model.sort.username.down)" class="admin-sort">
                        <span ng-show="model.sort.username.active && model.sort.username.down"
                              class="glyphicon glyph-btn glyphicon glyphicon-triangle-top glyphicon-lg"></span>
                        <span ng-show="model.sort.username.active && !model.sort.username.down"
                              class="glyphicon glyph-btn glyphicon glyphicon-triangle-bottom glyphicon-lg"></span>
                        Username
                    </th>
                    <th>Password</th>
                    <th ng-click="model.sortByFirst(model.sort.first.down)" class="admin-sort">
                        <span ng-show="model.sort.first.active && model.sort.first.down"
                              class="glyphicon glyph-btn glyphicon glyphicon-triangle-top glyphicon-lg"></span>
                        <span ng-show="model.sort.first.active && !model.sort.first.down"
                              class="glyphicon glyph-btn glyphicon glyphicon-triangle-bottom glyphicon-lg"></span>
                        First Name
                    </th>
                    <th ng-click="model.sortByLast(model.sort.last.down)" class="admin-sort">
                        <span ng-show="model.sort.last.active && model.sort.last.down"
                              class="glyphicon glyph-btn glyphicon glyphicon-triangle-top glyphicon-lg"></span>
                        <span ng-show="model.sort.last.active && !model.sort.last.down"
                              class="glyphicon glyph-btn glyphicon glyphicon-triangle-bottom glyphicon-lg"></span>
                        Last Name
                    </th>
                    <th>Role</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <input type="text" ng-model="model.currentUser.username" class="form-control" placeholder="username">
                    </td>
                    <td>
                        <input type="text" ng-model="model.currentUser.password" class="form-control" placeholder="password">
                    </td>
                    <td>
                        <input type="text" ng-model="model.currentUser.firstName" class="form-control" placeholder="first name">
                    </td>
                    <td>
                        <input type="text" ng-model="model.currentUser.lastName" class="form-control" placeholder="last name">
                    </td>
                    <td>
                        <input type="text" ng-model="model.currentUser.roles" class="form-control" placeholder="roles">
                    </td>
                    <td>
                        <span ng-click="model.add(model.currentUser)" class="glyphicon glyph-btn glyphicon-plus glyphicon-lg"></span>
                        <span ng-click="model.update(model.currentUser)" class="glyphicon glyph-btn glyphicon-ok glyphicon-lg"></span>
                    </td>
                </tr>
                <tr ng-repeat="user in model.users" ng-if="user._id !== currentUser._id">
                    <td>{{user.username}}</td>
                    <td>&nbsp;</td>
                    <td>{{user.firstName}}</td>
                    <td>{{user.lastName}}</td>
                    <td>{{user.roles}}</td>
                    <td>
                        <span ng-click="model.remove(user)" class="glyphicon glyph-btn glyphicon-remove glyphicon-lg"></span>
                        <span ng-click="model.select(user)" class="glyphicon glyph-btn glyphicon-cog glyphicon-lg"></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
