<div class="main">
    <div class="wrap">
        <div class="section group">
            <div class="cont span_3_of_3">
                <h2 class="head">Featured Deals</h2>
                <div ng-repeat="dealGroup in model.dealGroups" class="top-box">
                    <div ng-repeat="deal in dealGroup" class="col_1_of_3 span_1_of_3">
                        <a href="{{deal.deal.url}}">
                            <div class="inner_content clearfix">
                                <div class="product_image">
                                    <img ng-src="{{deal.deal.image_url}}" alt=""/>
                                </div>
                                <div class="price">
                                    <div class="cart-left">
                                        <p class="title">{{deal.deal.short_title}}</p>
                                        <div class="price1">
                                            <span class="reducedfrom">${{deal.deal.price + deal.deal.discount_amount}}</span>
                                            <span class="actual">${{deal.deal.price}}</span>
                                        </div>
                                    </div>
                                    <a href="#/details/{{deal.deal.id}}">
                                        <div class="plus-right"></div>
                                    </a>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>