<div class="main">
    <div class="wrap">
        <div class="cont span_3_of_3">
            <div class="grid images_3_of_2">
                <img class="etalage_thumb_image" ng-src="{{model.data.image_url}}" class="img-responsive" />
                <div class="clearfix"></div>
            </div>
            <div class="desc1 span_3_of_2 details-info">
                <h3 class="m_3">{{model.data.title}}</h3>
                <p class="m_5 details-price">${{model.data.price}}
                    <span class="reducedfrom details-reducedfrom">${{model.data.price + model.data.discount_amount}}</span>
                    <a ng-hide="model.data.type == 'LOCAL'" href="{{model.data.url}}" class="details-buy-button btn btn-primary" type="submit" role="button">Purchase</a>
                </p>
                <div class="btn_form">
                    <form>
                        <i ng-class="model.favorited ? 'fav-icon-clicked' : 'fav-icon-unclicked'" ng-click="model.favoriteDeal(model.data)" class="glyphicon glyphicon-heart"></i>
                        <span ng-hide="model.favorited">Favorite</span>
                        <span ng-show="model.favorited">Unfavorite</span>
                    </form>
                </div>
                <p class="m_4">Expires: {{model.data.expires_at}}</p>
                <p class="m_4">Deal: {{model.data.short_title}}</p>
            </div>
            <div class="clear"></div>
            <div class="toogle">
                <h3 class="m_3">Deal Details</h3>
                <div class="m_text" ng-bind-html="model.data.sceDescription">{{model.data.sceDescription}}</div>
            </div>
            <div ng-if="model.dealFavoritesByUsers" class="toogle">
                <h3 class="m_3">Other Users who Favorited this Deal</h3>
                <ul>
                    <li ng-repeat="user in model.dealFavoritesByUsers">
                        <div ng-if="user.username !== currentUser.username">
                            {{user.username}}
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>