<script>$(document).ready(function(){$(".megamenu").megamenu();});</script>
<div ng-controller="HeaderController as model" class="header-top">
    <div class="wrap">
        <div class="header-top-left">
            <div class="slogan">Eat Better, For Less</div>
            <div class="clear"></div>
        </div>
        <div class="cssmenu">
            <ul>
                <li ng-show="currentUser" class="active"><a href="#/profile">{{currentUser.username}}</a></li> |
                <li ng-hide="currentUser"><a href="#/login">Log In</a></li> |
                <li ng-hide="currentUser"><a href="#/register">Sign Up</a></li> |
                <li ng-show="currentUser"><a ng-click="model.logout()">Sign Out</a></li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div class="header-bottom">
    <div class="wrap">
        <div class="header-bottom-left">
            <div class="logo">
                <a href="#/home"><img src="images/logo.png" alt=""/></a>
            </div>
            <div class="menu">
                <ul class="megamenu skyblue">
                    <li><a href="#/home">Home</a></li>
                    <li><a href="#/deals">Deals</a></li>
                    <li><a href="#">Coupons</a></li>
                    <li ng-show="currentUser"><a href="#">Local</a></li>
                </ul>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>