<div class="main about-wrapper">
    <div class="wrap">
        <div class="cont span_3_of_3">
            <div class="grid images_3_of_2">
                <img class="etalage_thumb_image" src="images/logo-image.png" class="img-responsive" />
                <div class="clearfix"></div>
            </div>
            <div class="desc1 span_3_of_2 details-info">
                <h3 class="m_3">About Cheap Eats</h3>
                <p class="m_3">This website was built for one reason, to help save money. Cheap Eats is for people who love to eat out,
                    but hate having to spend so much every time they do. It makes it simple to find and purchase deals at restaurants near you.
                    It also give you the option to favorite deals and save them for later so you can find them quickly.</p>
                <br/>
                <p class="m_4">Cheap Eats also makes it possible for smaller, local restaurants to post their own deals as well. If
                    you visit a local restaurant and verify that the deal is being offered, you can "verify" that deal on our site. This
                    makes it so users after you can have more faith in the data.</p>
            </div>
            <div class="clear"></div>
            <div class="about-bottom">
                <h3 class="m_3">Eat Better, For Less</h3>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>